{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script src="{% static 'quizzes/detail.js' %}"></script>
{% endblock %}

{% block content %}

<form action="{% url 'quizzes:add-variant' quiz.id %}" method="post">
    {% csrf_token %}
    <h1>
        Контрольная работа
        {% if user == quiz.editor %}
        "<span id="quiz-title">{{ quiz.title }}</span><input type="text" style="display: none;" id="quiz-title-editor"
            value="{{ quiz.title }}">"<button type="button" class="btn btn-outline-secondary quiz-edit-control"
            data-href="{% url 'quizzes:rename' quiz.id %}" id="rename-btn">
            <i class="fas fa-edit"></i>
        </button>
        {% else %}
        {{ quiz.title }}
        {% endif %}
    </h1>

    {% if user == quiz.editor %}

    <button style="display: inline;" class="quiz-edit-control btn btn-outline-success quiz-newtask-toggle"
        data-index="{{ forloop.counter }}">
        <i class="fas fa-file"></i> Добавить вариант
    </button>
    {% endif %}

</form>

<div class="btn-group-toggle" data-toggle="buttons">
    {% if user == quiz.editor %}
    <label class="btn btn-outline-primary">
        <input type="checkbox" autocomplete="off" id="read-only-toggle">Только чтение
    </label>
    {% endif %}

    <button class="btn btn-success" onClick="window.print()">
        <i class="fas fa-print"></i> Печать
    </button>
</div>

<p>
    <small class="text-muted">Обновлено: {{ quiz.pub_date }}</small>
    <br>
    <small class="text-muted">Редактор: {{ quiz.editor.username }}</small>
</p>

{% for var in quiz.variants %}

<form action="{% url 'quizzes:modify-variant' quiz.id forloop.counter %}" method="post">
    {% csrf_token %}
    <h2>
        Вариант №{{ forloop.counter }}
        {% if user == quiz.editor %}

        <button type="button" style="display: inline;"
            class="quiz-edit-control btn btn-outline-success quiz-newtask-toggle" data-index="{{ forloop.counter }}">
            <i class="fas fa-file"></i> Добавить новую задачу
        </button>
        <button name="remove" style="display: inline;"
            class="quiz-edit-control btn btn-outline-danger quiz-newtask-toggle"">
            <i class=" fas fa-trash"></i> Удалить вариант
        </button>

        {% endif %}
    </h2>
</form>

{% for entry in var.entries %}

<form action="{% url 'quizzes:modify-entry' quiz.id forloop.parentloop.counter forloop.counter %}" method="post">
    {% csrf_token %}

    <p>
        <mark>
            <a class="problem-link"
                href="{% url 'problems:detail' entry.problem.id %}">№{{ forloop.counter }}</a></mark>

        {% if user == quiz.editor %}

        {% if not forloop.first %}
        <button style="display: inline;" type="submit" name="up" class="quiz-edit-control btn btn-outline-primary"
            value="Up">
            <i class="fas fa-angle-double-up"></i>
        </button>
        {% endif %}

        {% if not forloop.last %}
        <button style="display: inline;" type="submit" name="down" class="quiz-edit-control btn btn-outline-primary"
            value="Down">
            <i class="fas fa-angle-double-down"></i>
        </button>
        {% endif %}

        <button style="display: inline;" type="submit" name="remove" class="quiz-edit-control btn btn-outline-danger"
            value="Delete">
            <i class="fas fa-trash"></i>
        </button>

        {% endif %}

        {{ entry.problem.question_text }}
    </p>
</form>

{% endfor %}

{% if user == quiz.editor %}

<div style="display: none;" data-href="{% url 'quizzes:modify-variant' quiz.id forloop.counter %}"
    class="quiz-problem-selector" id="problem-selector-{{ forloop.counter }}">

    <div class="form-inline">
        <input type="text" class="form-control" name="q" placeholder="Введите запрос..">
        <button class="btn btn-primary" data-href="{% url 'problems:search' %}">Искать</button>
    </div>
    <div id="problem-selector-{{ forloop.counter }}-candidates">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>

            </tbody>
        </table>
    </div>
</div>

{% endif %}

{% endfor %}

<div class="pagebreak"> </div>

<h2>Ответы</h2>

{% for var in quiz.variants %}

<h3>Вариант №{{ forloop.counter }}</h3>

{% for entry in var.entries %}

<p>
    <mark>№{{ forloop.counter }}</mark>

    {{ entry.problem.answer_text }}
</p>

{% endfor %}

{% endfor %}

{% endblock %}