{% extends "base.html" %}

{% block content %}

<h1>Контрольные работы {% if editor %} (от пользователя {{ editor.username }}) {% endif %}</h1>

{% if quizzes %}

<table class="table table-hover">
    <form action="{% url 'quizzes:new' %}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Новая контрольная" />
    </form>

    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Название</th>
            <th scope="col">Количество вариантов</th>
            <th scope="col"></th>
            <th scope="col">Последнее изменение</th>
        </tr>
    </thead>
    <tbody>
        {% for quiz in quizzes %}

        <tr>
            <th scope=" row">{{ quiz.id }}</th>
            <td>{{ quiz.title }}</td>
            <td>{{ quiz.variant_ids|length }}</td>
            <td>
                <form class="form-inline" action="{% url 'quizzes:delete' quiz.id %}" method="post">
                    {% csrf_token %}
                    <a class="btn btn-primary" href="{% url 'quizzes:detail' quiz.id %}">
                        <i class="fas fa-eye"></i> <span>Подробнее...</span>
                    </a>

                    {% if user == quiz.editor %}
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-trash"></i> <span>Удалить</span>
                    </button>
                    {% endif %}
                </form>
            </td>
            <td>{{ quiz.pub_date }}</td>
        </tr>

        {% endfor %}
    </tbody>
</table>

{% else %}
<form action="{% url 'quizzes:new' %}" method="post">
    {% csrf_token %}
    <p>Здесь пока пусто — не желаете <input type="submit" class="btn btn-primary" value="добавить" /> новую
        контрольную
        работу?</p>

</form>
{% endif %}

{% endblock %}