{% extends "base.html" %}

{% block content %}

<h1>Задача №{{ problem.id }}</h1>

<p>
    <small class="text-muted">Обновлено: {{ problem.pub_date }}</small><br>
    <small class="text-muted">Отправитель:
        {{ problem.submitter.username }}</small></p>

<h2>Условие задачи</h2>

<p> {{ problem.question_text }} </p>

<h2>Ответ</h2>

<p> {{ problem.answer_text }} </p>

<h2>Метки</h2>

<div style="margin-bottom: 10px">
    {% with tags=problem.tags.all %}
    {% for tag in tags %}
    <a href="{% url 'problems:index' %}?tag={{tag}}" class="badge badge-primary">
        {{ tag }}
    </a>
    {% endfor %}
    {% endwith %}
</div s>

<a class="btn btn-warning" href="{% url 'problems:edit' problem.id %}">
    <i class="fas fa-edit"></i> <span>Редактировать</span>
</a>

{% endblock %}