{% extends "base.html" %}

{% block content %}

{% if target_problem %}
{% url 'problems:edit' target_problem.id as target_url %}
{% else %}
{% url 'problems:new' as target_url %}
{% endif %}


<h1>
    {% if target_problem %}
    Задача №{{ target_problem.id }}
    {% else %}
    Новая задача
    {% endif %}
</h1>


<form action="{{ target_url }}" method="post">
    {% csrf_token %}

    {% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
    {% endif %}

    <div class="form-group">
        <label for="question-input">Текст вопроса</label>
        <textarea class="form-control" name="question" id="question-input" placeholder="Введите текст вопроса"
            rows=3>{% firstof question_text target_problem.question_text %}</textarea>

        <small class="form-text text-muted">
            Вы также можете вводить LaTeX-разметку — например,
            <code>\( \vec{F} = m\vec{a} \)</code> отобразится как \( \vec{F} = m\vec{a}\).</small>
    </div>

    <div class="form-group">
        <label for="answer-input">Текст ответа</label>
        <textarea class="form-control" name="answer" id="answer-input" placeholder="Введите текст ответа"
            rows=1>{% firstof answer_text target_problem.answer_text %}</textarea>
    </div>

    <div class="form-group">
        <label for="tag-input">Метки</label>
        <input type="text" class="form-control" name="tags" id="tag-input" placeholder="Введите метки задачи"
            value="{% firstof tag_string target_problem.tag_string %}"></input>
        <small class="form-text text-muted">Введите метки задачи через запятую</small>
    </div>

    <input class="btn btn-primary" type="submit" value="Записать">
</form>

{% endblock %}