{% extends "base.html" %}

{% block content %}

<h1>Банк задач {% if tag %}(метка "{{ tag }}"){% endif %}</h1>

{% if problems %}


<a class="btn btn-primary" href="{% url 'problems:new' %}">Новая задача</a>

<table class="table table-hover">

    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Текст задачи</th>
            <th scope="col"></th>
            <th scope="col">Последнее изменение</th>
        </tr>
    </thead>
    <tbody>
        {% for problem in problems %}

        <!--  class="clickable-row" data-href="{% url 'problems:detail' problem.id %}" -->
        <tr>
            <th scope="row">{{ problem.id }}</th>
            <td>{{ problem.question_text }}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'problems:detail' problem.id %}">
                    <i class="fas fa-eye"></i> <span>Подробнее...</span>
                </a>
                {% if user == problem.submitter %}
                <a class="btn btn-warning" href="{% url 'problems:edit' problem.id %}">
                    <i class="fas fa-edit"></i> <span>Редактировать</span>
                </a>
                {% endif %}
            </td>
            <td>{{ problem.pub_date }}</td>
        </tr>

        {% endfor %}
    </tbody>
</table>

{% else %}
<p>Здесь пока пусто — не желаете добавить новую задачу?</p>
{% endif %}

{% endblock %}