{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Неправильный пароль</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}

<div class="row">
    <div class="col-4"></div>
    <form method="post" action="{% url 'accounts:login' %}" class="form card col-4">
        {% csrf_token %}
        <div class="card-body ">
            <h5 class="card-title">Войти</h5>
            <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
            <input type="submit" value="Войти" class="form-control btn btn-primary" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>
</div>
{% endblock %}