body {
    padding-top: 5rem;
}

.container > div {
    padding: 0 1.5rem;
}

tr.clickable-row {
    cursor: pointer;
}

form.form-inline > .btn {
    margin: 5px;
}

@media print {
    .btn {display: none !important;}
    .quiz-problem-selector {display: none !important; }
    .problem-link { text-decoration: none !important; color: black !important}

    .pagebreak {
        clear: both;
        page-break-after: always;
    }
}